@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap);
@import "./src/styles/iconfonts.css";
[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Open-Sans, sans-serif;
  color: #544837;
  background-color: #ffffff;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.35;
  color: #2f281e;
}
@media (max-width: 375.98px) {
  .title {
    font-size: 24px;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 46px;
  font-weight: 600;
  line-height: 1.375;
  color: #ffffff;
  background-color: #ff9900;
  border-radius: 4px;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 78px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 375.98px) {
  .header__container {
    min-height: 68px;
  }
}
@media (max-width: 768.98px) {
  .header__container {
    justify-content: stretch;
  }
}
.header__logo {
  position: relative;
  display: flex;
  z-index: 5;
}
@media (max-width: 520px) {
  .header__logo {
    margin: auto;
    padding-right: 45px;
  }
}
@media (max-width: 768.98px) {
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: auto;
    z-index: 2;
    background-color: #ffffff;
    padding: 90px 15px 30px 15px;
    transition: top 0.4s ease 0s;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  }
}
@media (max-width: 768.98px) and (max-width: 520px) {
  .header__nav {
    height: 70%;
  }
}
@media (max-width: 768.98px) {
  .header__nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    background-color: #ffffff;
    z-index: 2;
  }
}
@media (max-width: 768.98px) {
  .header__nav.menu-open {
    top: 0;
  }
}
.header__actions {
  display: flex;
  gap: 15px;
}
@media (max-width: 768.98px) {
  .header__actions {
    margin-left: auto;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 520px) {
  .header__actions {
    display: none;
    flex-direction: column;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 17px;
  flex-wrap: wrap;
}
@media (max-width: 768.98px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.nav__btn {
  display: none;
}
@media (max-width: 520px) {
  .nav__btn {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.nav__link {
  color: inherit;
  transition: color 0.3s ease 0s;
}
@media (max-width: 768.98px) {
  .nav__link {
    font-size: 22px;
    line-height: 1.27;
  }
}
.nav__link:hover {
  color: #ff9900;
}

.btn_sign-in {
  border: 1px solid #bcd0e5;
  background-color: transparent;
  color: #173a56;
  transition: background-color 0.3s ease 0s;
}
.btn_sign-in:hover {
  background-color: #bcd0e5;
}
.btn_sign-up {
  transition: background-color 0.3s ease 0s;
}
.btn_sign-up:hover {
  background-color: #ff7549;
}

.icon-menu {
  background-color: inherit;
  display: none;
}
@media (max-width: 768.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #173a56;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    transform: scale(1) translate(0, -50%);
  }
  .icon-menu.menu-open span {
    transform: scale(0) translate(0, -50%);
  }
  .icon-menu.menu-open::before {
    top: 50%;
    transform: rotate(-45deg);
  }
  .icon-menu.menu-open::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
}

.main__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 110px;
}
@media (max-width: 375.98px) {
  .main__container {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.main__content {
  flex: 0 0 45%;
}
@media (max-width: 1230px) {
  .main__content {
    flex: 1 1 60%;
  }
}
.main__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.23;
  color: #2f281e;
}
.main__title:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 375.98px) {
  .main__title {
    font-size: 32px;
  }
}
.main__text {
  font-family: Poppins;
  font-size: 18px;
  line-height: 1.56;
  min-width: 388px;
}
.main__text:not(:last-child) {
  margin-bottom: 45px;
}
@media (max-width: 375.98px) {
  .main__text {
    min-width: 0px;
    font-size: 16px;
  }
}
.main__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
  row-gap: 25px;
}
@media (max-width: 375.98px) {
  .main__actions {
    flex-direction: column;
  }
}
.main__button {
  width: 174px;
  height: 53px;
  transition: background-color 0.3s ease 0s;
}
.main__button:hover {
  background-color: #ff7549;
}
.main__video {
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5;
  color: #ff9900;
  transition: color 0.3s ease 0s;
  text-align: center;
}
.main__video:hover {
  color: #ff7549;
}
.main__video::before {
  margin-right: 10px;
}
.main__image {
  flex: 1 1 55%;
}
@media (max-width: 1230px) {
  .main__image {
    flex: 1 1 40%;
  }
}
@media (max-width: 375.98px) {
  .main__image {
    width: 100%;
    height: 100%;
  }
  .main__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.tools__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  position: relative;
}
@media (max-width: 375.98px) {
  .tools__container {
    padding-bottom: 50px;
  }
}
.tools__container::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -20;
  background: linear-gradient(179.59deg, rgba(255, 229, 210, 0.629261) 0.35%, rgba(255, 244, 229, 0.0001) 99.63%);
  transform: rotate(180deg);
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}
@media (max-width: 375.98px) {
  .tools__container::before {
    border-radius: 120% 120% 0 0/100% 100% 0 0;
  }
}
.tools__title {
  max-width: 462px;
  text-align: center;
  margin: 0 auto;
}
.tools__title:not(:last-child) {
  margin-bottom: 70px;
}
.tools__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 20px;
}
.tools__items:not(:last-child) {
  margin-bottom: 34px;
}
@media (max-width: 768.98px) {
  .tools__items {
    row-gap: 54px;
  }
}
@media (max-width: 375.98px) {
  .tools__items {
    row-gap: 47px;
  }
}
.tools__button {
  align-self: center;
  width: 171px;
  background-color: #ff7549;
  transition: background-color 0.3s ease 0s;
}
.tools__button:hover {
  background-color: #ff9900;
}

.item-tools {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768.98px) {
  .item-tools {
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
  }
}
.item-tools__icon {
  border-radius: 19px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-tools__icon:not(:last-child) {
  margin-bottom: 30px;
}
.item-tools__icon.fiolet {
  background-color: #7752be;
}
.item-tools__icon.yellow {
  background-color: #fab005;
}
.item-tools__icon.red {
  background-color: #f03e3d;
}
.item-tools__icon.blue {
  background-color: #4dadf7;
}
.item-tools__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.36;
  color: #2f281e;
}
.item-tools__title:not(:last-child) {
  margin-bottom: 16px;
}
.item-tools__text {
  line-height: 1.625;
}

.strategies__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 768.98px) {
  .strategies__header {
    text-align: center;
  }
}
.strategies__header:not(:last-child) {
  margin-bottom: 24px;
}
.strategies__title:not(:last-child) {
  margin-bottom: 15px;
}
.strategies__text {
  line-height: 1.6;
}
.tabs-strategies__nav {
  display: flex;
  gap: 10px;
}
@media (max-width: 768.98px) {
  .tabs-strategies__nav {
    justify-content: center;
  }
}
.tabs-strategies__nav:not(:last-child) {
  margin-bottom: 30px;
}
.tabs-strategies__button {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 5px 14px;
  color: #544837;
  background-color: transparent;
  font-size: 13px;
  line-height: 2.15;
  border: 1px solid #d7d7d7;
  border-radius: 90px;
  transition: all 0.3s ease 0s;
}
.tabs-strategies__button.active {
  color: #ffffff;
  background-color: #ff9900;
  border: 1px solid #ff9900;
}
.tabs-strategies__button:hover {
  border: 1px solid #ff9900;
}
.tabs-strategies__type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 14px;
  color: #544837;
  background-color: #f5f5f5;
  border-radius: 90px;
}
.tabs-strategies__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  -moz-column-gap: 34px;
       column-gap: 34px;
  row-gap: 30px;
}
.tabs-strategies__item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.tabs-strategies__item.big {
  overflow: hidden;
  grid-column: 1/span 2;
}
@media (max-width: 1060px) {
  .tabs-strategies__item.big {
    grid-column: auto;
  }
}
@media (max-width: 1060px) {
  .tabs-strategies__item.big img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.tabs-strategies__image img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.tabs-strategies__content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 34px 26px;
}
.tabs-strategies__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  color: #2f281e;
  flex-grow: 1;
}
.tabs-strategies__title:not(:last-child) {
  margin-bottom: 29px;
}
.tabs-strategies__buttons {
  display: flex;
  align-content: flex-end;
  gap: 4px;
}

.hide {
  display: none;
}

.contact {
  background-color: #ffeee1;
}
.contact__container {
  padding-top: 62px;
  padding-bottom: 82px;
}
@media (max-width: 768.98px) {
  .contact__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 375.98px) {
  .contact__container {
    padding-top: 34px;
  }
}
.contact__content {
  flex: 1 1 50%;
}
@media (max-width: 768.98px) {
  .contact__content {
    text-align: center;
    margin-bottom: 54px;
  }
}
.contact__column-2 {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 768.98px) {
  .contact__column-2 {
    flex-direction: column;
  }
}
.contact__column {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 375.98px) {
  .contact__column {
    flex-direction: column;
  }
}
.contact__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.35;
}
.contact__title:not(:last-child) {
  margin-bottom: 17px;
}
.contact__text {
  max-width: 528px;
  line-height: 1.62;
}
.contact__text:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 768.98px) {
  .contact__text {
    max-width: none;
  }
  .contact__text:not(:last-child) {
    margin-bottom: 24px;
  }
}
.contact__phone {
  display: flex;
  align-items: center;
}
.contact__phone:not(:last-child) {
  margin-bottom: 19px;
}
@media (max-width: 768.98px) {
  .contact__phone {
    justify-content: center;
  }
}
.contact__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.contact__link {
  color: inherit;
  padding-left: 11px;
  transition: color 0.3s ease 0s;
}
.contact__link:hover {
  color: #ff9900;
}
.contact__email {
  display: flex;
  align-items: center;
}
@media (max-width: 768.98px) {
  .contact__email {
    justify-content: center;
  }
  .contact__email:not(:last-child) {
    margin-bottom: 54px;
  }
}
.contact__form {
  flex: 1 1 50%;
}

.form {
  display: flex;
}
@media (max-width: 768.98px) {
  .form__btn {
    text-align: center;
  }
}
.form__input {
  background-color: #ffffff;
  height: 45px;
  padding: 10px 22px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 18px;
}
.form__input::-moz-placeholder {
  line-height: 1.6;
  color: #c6c6c6;
}
.form__input:-ms-input-placeholder {
  line-height: 1.6;
  color: #c6c6c6;
}
.form__input::placeholder {
  line-height: 1.6;
  color: #c6c6c6;
}
.form__text {
  width: 100%;
  height: 160px;
  resize: vertical;
  padding: 10px 22px;
  border-radius: 5px;
}
.form__text::-moz-placeholder {
  line-height: 1.6;
  color: #c6c6c6;
}
.form__text:-ms-input-placeholder {
  line-height: 1.6;
  color: #c6c6c6;
}
.form__text::placeholder {
  line-height: 1.6;
  color: #c6c6c6;
}
.form__text:not(:last-child) {
  margin-bottom: 20px;
}
.form__button {
  width: 117px;
  height: 53px;
  font-size: 16px;
}

.about__container {
  padding-top: 96px;
  padding-bottom: 100px;
}
.about__title:not(:last-child) {
  margin-bottom: 14px;
}
.about__text {
  line-height: 1.62;
}
.about__text:not(:last-child) {
  margin-bottom: 45px;
}
.about__items {
  display: flex;
  -moz-column-gap: 62px;
       column-gap: 62px;
}
.about__item {
  display: flex;
  position: relative;
  width: calc(31% - 32px);
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.item__title {
  font-weight: 700;
  line-height: 1.6;
}
.item__text {
  font-size: 14px;
  line-height: 1.8;
}
.item__link {
  font-size: 14px;
}
.item__link:hover {
  text-decoration: underline;
}
.item__image {
  position: absolute;
  top: 20px;
  right: -32px;
}
.item__image img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.footer__container {
  padding-top: 58px;
  padding-bottom: 52px;
}
.footer__body {
  display: flex;
  max-width: 1070px;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 34px;
}
@media (max-width: 768.98px) {
  .footer__body {
    flex-direction: column;
  }
}
.footer__items {
  display: flex;
  width: 80%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 18px;
  justify-content: space-between;
}
@media (max-width: 768.98px) {
  .footer__items {
    width: 100%;
  }
}
@media (max-width: 375.98px) {
  .footer__items {
    flex-direction: column;
  }
}
.footer__item {
  min-height: 140px;
}

.item-footer__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #2f281e;
}
.item-footer__title:not(:last-child) {
  margin-bottom: 15px;
}
.item-footer__list {
  display: flex;
  flex-direction: column;
}
.item-footer__link {
  color: inherit;
  line-height: 2.2;
  transition: color 0.3s ease 0s;
}
.item-footer__link:hover {
  color: #ff9900;
}/*# sourceMappingURL=index.css.map */