[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100%;
}
body {
    &.lock {
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap);

@import "./src/styles/iconfonts.css";
@import "./src/styles/variables.scss";
@import "./src/styles/cancel.scss";
@import "./src/styles/common.scss";

// sections

@import "./src/components/header.scss";
@import "./src/components/main.scss";
@import "./src/components/tools.scss";
@import "./src/components/strategies.scss";
@import "./src/components/contact.scss";
@import "./src/components/about.scss";
@import "./src/components/footer.scss";
