// colors
$mainColor: #2f281e;
$secondaryColor: #544837;
$whiteColor: #ffffff;

$actionColor: #ff9900;
$pinkColor: #ff7549;

$secondary-bg: #ffeee1;
$white-bg: #ffffff;

$mobile: 768.98px; // мобилка адаптив
$small: 375.98px; //маленькая мобилка адаптив

$maxWidth: 1920; //макс ширина экрана
$maxWidthContainer: 1470; //макс ширина контейнера
