.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    // .header__container
    &__container {
        display: flex;
        align-items: center;
        min-height: 78px;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: $small) {
            min-height: 68px;
        }
        @media (max-width: $mobile) {
            justify-content: stretch;
        }
    }
    // .header__logo
    &__logo {
        position: relative;
        display: flex;
        z-index: 5;
        @media (max-width: 520px) {
            margin: auto;
            padding-right: 45px;
        }
    }
    // .header__nav
    &__nav {
        @media (max-width: $mobile) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 50%;
            overflow: auto;
            z-index: 2;
            background-color: $white-bg;
            padding: 90px 15px 30px 15px;
            transition: top 0.4s ease 0s;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            @media (max-width: 520px) {
                height: 70%;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 78px;
                background-color: $white-bg;
                z-index: 2;
            }
            &.menu-open {
                top: 0;
            }
        }
    }
    // .header__actions
    &__actions {
        display: flex;
        gap: 15px;
        @media (max-width: $mobile) {
            margin-left: auto;
            position: relative;
            z-index: 2;
        }
        @media (max-width: 520px) {
            display: none;
            flex-direction: column;
        }
    }
}
.nav {
    // .nav__list
    &__list {
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        display: flex;
        align-items: center;
        gap: 17px;
        flex-wrap: wrap;
    }
    &__btn {
        display: none;

        @media (max-width: 520px) {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }
    // .nav__item
    &__item {
    }
    // .nav__link
    &__link {
        color: inherit;
        transition: color 0.3s ease 0s;
        @media (max-width: $mobile) {
            font-size: 22px;
            line-height: 1.27;
        }
        &:hover {
            color: $actionColor;
        }
    }
}

.btn {
    // .btn_sign-in
    &_sign-in {
        border: 1px solid #bcd0e5;
        background-color: transparent;
        color: #173a56;
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: #bcd0e5;
        }
    }
    // .btn_sign-up
    &_sign-up {
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: #ff7549;
        }
    }
}
//Burger
.icon-menu {
    background-color: inherit;
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        // flex: 0 0 30px;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #173a56;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            // top: 50%;
            transform: scale(1) translate(0, -50%);
        }
        &.menu-open {
            span {
                transform: scale(0) translate(0, -50%);
            }
            // &::before,
            // &::after {
            // }
            &::before {
                top: 50%;
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - 1px);
                transform: rotate(45deg);
            }
        }
    }
}
